.padding-t-2 {
    padding-top: 2px
}

.padding-t-4 {
    padding-top: 4px
}

.padding-t-6 {
    padding-top: 6px
}

.padding-t-8 {
    padding-top: 8px
}

.padding-t-10 {
    padding-top: 10px
}

.padding-t-12 {
    padding-top: 12px
}

.padding-t-14 {
    padding-top: 14px
}

.padding-t-16 {
    padding-top: 16px
}

.padding-t-18 {
    padding-top: 18px
}

.padding-t-20 {
    padding-top: 20px
}

.padding-t-22 {
    padding-top: 22px
}

.padding-t-24 {
    padding-top: 24px
}

.padding-t-26 {
    padding-top: 26px
}

.padding-t-28 {
    padding-top: 28px
}

.padding-t-30 {
    padding-top: 30px
}

.padding-t-32 {
    padding-top: 32px
}

.padding-t-34 {
    padding-top: 34px
}

.padding-t-36 {
    padding-top: 36px
}

.padding-t-38 {
    padding-top: 38px
}

.padding-t-40 {
    padding-top: 40px
}

.padding-r-2 {
    padding-right: 2px
}

.padding-r-4 {
    padding-right: 4px
}

.padding-r-6 {
    padding-right: 6px
}

.padding-r-8 {
    padding-right: 8px
}

.padding-r-10 {
    padding-right: 10px
}

.padding-r-12 {
    padding-right: 12px
}

.padding-r-14 {
    padding-right: 14px
}

.padding-r-16 {
    padding-right: 16px
}

.padding-r-18 {
    padding-right: 18px
}

.padding-r-20 {
    padding-right: 20px
}

.padding-r-22 {
    padding-right: 22px
}

.padding-r-24 {
    padding-right: 24px
}

.padding-r-26 {
    padding-right: 26px
}

.padding-r-28 {
    padding-right: 28px
}

.padding-r-30 {
    padding-right: 30px
}

.padding-r-32 {
    padding-right: 32px
}

.padding-r-34 {
    padding-right: 34px
}

.padding-r-36 {
    padding-right: 36px
}

.padding-r-38 {
    padding-right: 38px
}

.padding-r-40 {
    padding-right: 40px
}

.padding-b-2 {
    padding-bottom: 2px
}

.padding-b-4 {
    padding-bottom: 4px
}

.padding-b-6 {
    padding-bottom: 6px
}

.padding-b-8 {
    padding-bottom: 8px
}

.padding-b-10 {
    padding-bottom: 10px
}

.padding-b-12 {
    padding-bottom: 12px
}

.padding-b-14 {
    padding-bottom: 14px
}

.padding-b-16 {
    padding-bottom: 16px
}

.padding-b-18 {
    padding-bottom: 18px
}

.padding-b-20 {
    padding-bottom: 20px
}

.padding-b-22 {
    padding-bottom: 22px
}

.padding-b-24 {
    padding-bottom: 24px
}

.padding-b-26 {
    padding-bottom: 26px
}

.padding-b-28 {
    padding-bottom: 28px
}

.padding-b-30 {
    padding-bottom: 30px
}

.padding-b-32 {
    padding-bottom: 32px
}

.padding-b-34 {
    padding-bottom: 34px
}

.padding-b-36 {
    padding-bottom: 36px
}

.padding-b-38 {
    padding-bottom: 38px
}

.padding-b-40 {
    padding-bottom: 40px
}

.padding-l-2 {
    padding-left: 2px
}

.padding-l-4 {
    padding-left: 4px
}

.padding-l-6 {
    padding-left: 6px
}

.padding-l-8 {
    padding-left: 8px
}

.padding-l-10 {
    padding-left: 10px
}

.padding-l-12 {
    padding-left: 12px
}

.padding-l-14 {
    padding-left: 14px
}

.padding-l-16 {
    padding-left: 16px
}

.padding-l-18 {
    padding-left: 18px
}

.padding-l-20 {
    padding-left: 20px
}

.padding-l-22 {
    padding-left: 22px
}

.padding-l-24 {
    padding-left: 24px
}

.padding-l-26 {
    padding-left: 26px
}

.padding-l-28 {
    padding-left: 28px
}

.padding-l-30 {
    padding-left: 30px
}

.padding-l-32 {
    padding-left: 32px
}

.padding-l-34 {
    padding-left: 34px
}

.padding-l-36 {
    padding-left: 36px
}

.padding-l-38 {
    padding-left: 38px
}

.padding-l-40 {
    padding-left: 40px
}

.margin-0 {
    margin: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.margin-t-2 {
    margin-top: 2px
}

.margin-t-4 {
    margin-top: 4px
}

.margin-t-6 {
    margin-top: 6px
}

.margin-t-8 {
    margin-top: 8px
}

.margin-t-10 {
    margin-top: 10px
}

.margin-t-12 {
    margin-top: 12px
}

.margin-t-14 {
    margin-top: 14px
}

.margin-t-16 {
    margin-top: 16px
}

.margin-t-18 {
    margin-top: 18px
}

.margin-t-20 {
    margin-top: 20px
}

.margin-t-22 {
    margin-top: 22px
}

.margin-t-24 {
    margin-top: 24px
}

.margin-t-26 {
    margin-top: 26px
}

.margin-t-28 {
    margin-top: 28px
}

.margin-t-30 {
    margin-top: 30px
}

.margin-t-32 {
    margin-top: 32px
}

.margin-t-34 {
    margin-top: 34px
}

.margin-t-36 {
    margin-top: 36px
}

.margin-t-38 {
    margin-top: 38px
}

.margin-t-40 {
    margin-top: 40px
}

.margin-t-50 {
    margin-top: 50px
}

.margin-t-52 {
    margin-top: 52px;
}

.margin-b-52 {
    margin-bottom: 52px;
}

.margin-t-80 {
    margin-top: 80px
}

.margin-r-2 {
    margin-right: 2px
}

.margin-r-4 {
    margin-right: 4px
}

.margin-r-6 {
    margin-right: 6px
}

.margin-r-8 {
    margin-right: 8px
}

.margin-r-10 {
    margin-right: 10px
}

.margin-r-12 {
    margin-right: 12px
}

.margin-r-14 {
    margin-right: 14px
}

.margin-r-16 {
    margin-right: 16px
}

.margin-r-18 {
    margin-right: 18px
}

.margin-r-20 {
    margin-right: 20px
}

.margin-r-22 {
    margin-right: 22px
}

.margin-r-24 {
    margin-right: 24px
}

.margin-r-26 {
    margin-right: 26px
}

.margin-r-28 {
    margin-right: 28px
}

.margin-r-30 {
    margin-right: 30px
}

.margin-r-32 {
    margin-right: 32px
}

.margin-r-34 {
    margin-right: 34px
}

.margin-r-36 {
    margin-right: 36px
}

.margin-r-38 {
    margin-right: 38px
}

.margin-r-40 {
    margin-right: 40px
}

.margin-b-2 {
    margin-right: 2px
}

.margin-b-4 {
    margin-bottom: 4px
}

.margin-b-6 {
    margin-bottom: 6px
}

.margin-b-8 {
    margin-bottom: 8px
}

.margin-b-10 {
    margin-bottom: 10px
}

.margin-b-12 {
    margin-bottom: 12px
}

.margin-b-14 {
    margin-bottom: 14px
}

.margin-b-16 {
    margin-bottom: 16px
}

.margin-b-18 {
    margin-bottom: 18px
}

.margin-b-20 {
    margin-bottom: 20px
}

.margin-b-22 {
    margin-bottom: 22px
}

.margin-b-24 {
    margin-bottom: 24px
}

.margin-b-26 {
    margin-bottom: 26px
}

.margin-b-28 {
    margin-bottom: 28px
}

.margin-b-30 {
    margin-bottom: 30px
}

.margin-b-32 {
    margin-bottom: 32px
}

.margin-b-34 {
    margin-bottom: 34px
}

.margin-b-36 {
    margin-bottom: 36px
}

.margin-b-38 {
    margin-bottom: 38px
}

.margin-b-40 {
    margin-bottom: 40px
}

.margin-l-2 {
    margin-left: 2px
}

.margin-l-4 {
    margin-left: 4px
}

.margin-l-6 {
    margin-left: 6px
}

.margin-l-8 {
    margin-left: 8px
}

.margin-l-10 {
    margin-left: 10px
}

.margin-l-12 {
    margin-left: 12px
}

.margin-l-14 {
    margin-left: 14px
}

.margin-l-16 {
    margin-left: 16px
}

.margin-l-18 {
    margin-left: 18px
}

.margin-l-20 {
    margin-left: 20px
}

.margin-l-22 {
    margin-left: 22px
}

.margin-l-24 {
    margin-left: 24px
}

.margin-l-26 {
    margin-left: 26px
}

.margin-l-28 {
    margin-left: 28px
}

.margin-l-30 {
    margin-left: 30px
}

.margin-l-32 {
    margin-left: 32px
}

.margin-l-34 {
    margin-left: 34px
}

.margin-l-36 {
    margin-left: 36px
}

.margin-l-38 {
    margin-left: 38px
}

.margin-l-40 {
    margin-left: 40px
}

.full-height {
    height: 100%;
    min-height: 100%
}

.full-width {
    width: 100%;
    min-width: 100%;
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.static {
    position: static
}

.fixed {
    position: fixed
}

.hor-wrap {
    margin: 0 auto
}

.color-white {
    color: #fff
}

.color-black {
    color: #111
}

.dis-block {
    display: block
}

.dis-none {
    display: none
}

.dis-table {
    display: table
}

.dis-inline {
    display: inline
}

.dis-inline-b {
    display: inline-block
}

* {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}