body {
    background: url(../images/bg.png) repeat;
}

.main-block-image {
    margin-bottom: -60px;
    margin-top: -40px;
//    height: 60%;
    & > img {
        transform: rotate(90deg) scale(0.8);
    }
}

.grid-item {

    //    &:last-child {
    //        grid-column: 1/3;
    //        & > img {
    //            width: 60%;
    //        }
    //    }
    .grid-item-title {
        font-size: 10px;
    }
}

.fifth-block {
    padding-top: 40px;

    .fifth-block-image {
        position: relative;
        height: 100%;

        & > img {
            height: 100%;
            max-width: inherit;
            right: 0;
            position: absolute;
            top: 0;
        }
    }
}

// slider

.third-block-slider {
    width: 100vw;
    left: -4vw;
}
// modal-form

#callback-modal {
    background: rgba(0,0,0,.5);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    transition: 0.3s ease;
    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }
    .modal-close {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        z-index: 0;
        cursor: pointer;
    }
}
.modal-wrap {
    position: relative;
    z-index: 1;
    background-color:#ededed; 
    border-radius: 15px;
    padding: 20px 30px 0 30px;
    &>.button {
        outline: none;
        border: none;       
    } 
}