// global


.black-block {
    color: #fff;
}

.black-block a {
    color: #fff;
}

blockquote {
    font-style: italic;
    color: #9f9f9f;
}

//titles 
.title {
    &.type-1 {
        font-size: 25px;
    }
    &.type-2 {
        font-size: 16px;
    }
    &.type-3 {
        font-size: 12px;
    }
}

// buttons
.button {
    cursor: pointer;
    position: relative;
    display: inline-block;    
    background-size: contain;
    
    display: flex; align-items: center;
    justify-content: center;
    &-small {
        background: url(../images/buttons/button-small.svg) center center no-repeat;
        width: 140px;height: 50px;
    }
    &-mid {
        background: url(../images/buttons/button-mid.svg) center center no-repeat;
        width: 200px;height: 50px;
    }
    &-big {
        background: url(../images/buttons/button-big.svg) center center no-repeat;
        width: 280px;height: 70px;
    }
    &-text {
        font-size: 15px;
    }
}

//.button {
//    cursor: pointer;
//    padding: 12px 35px 14px 32px;
//    color: #111;
//    margin-top: 20px;
//    margin-bottom: 20px;
//    border: 2px solid #111;
//    display: inline-block;
//    position: relative;
//    transition: all 150ms ease-in-out;
//    border-radius: 1px;
//    
//    // types
//    
//    &.type-2 {
//        border-color: $red;
//        background: $red;
//        color: #fff;
//    }
//    &.type-3 {
//        border-color: $green;
//        color: $green;
//    }
//    &.type-4 {
//        border-color: $green;
//        background: $green;
//        color: #fff;
//    }
//}

// section paddings and margins

.section-padding-top {
    padding-top: 80px;
}

.section-padding-bottom {
    padding-bottom: 80px;
}

.section-margin-top {
    margin-top: 80px;
}

.section-margin-bottom {
    margin-bottom: 80px;
}

.section-padding-left {
    padding-left: 80px;
}

// text

.large-text {
    & > * {
        font-size: 24px;
    }
}

// slider

.slick-arrow {
    font-size: 0;
    width: 30px;
    cursor: pointer;
    height: 30px;
    border-radius: 100%;
    background: none;
    left: 14px;
    background: url(../images/icons/arrow.svg) center center no-repeat #eee;
    background-size: 11px;
    box-shadow: -1px 0px 5px rgba(0, 0, 0, .18);
    position: relative;
    transition: all 150ms ease-in-out;
}

.slick-arrow.slick-prev {
    transform: rotate(180deg);
}

.slick-arrow:hover {
    transform: scale(1.1);
}

.slick-arrow.slick-next {
    margin-left: 30px;
}

.slider-vertical {
    .slick-prev {
        left: 18px;
        top: -15px;
        transform: rotate(-90deg);

        &:hover {
            transform: scale(1.1) rotate(-90deg);
        }
    }

    .slick-next {
        left: -11px;
        bottom: 0px;
        top: auto;
        transform: rotate(90deg);

        &:hover {
            transform: scale(1.1) rotate(90deg);
        }
    }

}

// form

#form {
    .button {
        margin: 0;
    }

    .form-confirm {
        font-size: 14px;
        color: #818181;

        a {
            text-decoration: underline;
        }
    }
}

// slider-images