@font-face {
	font-family: "blogger-sans";
	font-weight: normal;
	font-style: normal;
	src: url("../fonts/8848.eot");
	src: url("../fonts/8848.eot?#iefix") format("embedded-opentype"),
	url("../fonts/8848.ttf") format("truetype"),
	url("../fonts/8848.svg#codropsicons") format("svg");
}

// scroll bar

::-webkit-scrollbar {
	width: 3px
}
::-webkit-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #666
}
::-webkit-scrollbar-track {
	border-width: 0
}
::-moz-scrollbar {
	width: 3px
}
::-moz-scrollbar-thumb {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #444;
}
::-moz-scrollbar-thumb:hover {
	border-width: 1px 1px 1px 2px;
	border-color: #fafafa;
	background-color: #666
}
::-moz-scrollbar-track {
	border-width: 0
}

// body and html general

a {
    color: #111;
}

body {
	font-family: "blogger-sans";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mobile-hide {
    display: none;
}

.svg,.cls-1 {
    opacity: 1 !important;
}

// var


